function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 235
pop this 0
push constant 215
pop this 1
push pointer 0
return
function Player.shoot 0
push argument 0
pop pointer 0
push this 0
push constant 20
add
push this 1
push constant 6
sub
push argument 1
call Shot.new 3
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.clear 0
push argument 0
pop pointer 0
push constant 235
pop this 0
push constant 215
pop this 1
push pointer 0
call Player.draw 1
pop temp 0
push constant 0
return
function Player.getX 0
push argument 0
pop pointer 0
push this 0
return
function Player.getY 0
push argument 0
pop pointer 0
push this 1
return
function Player.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 40
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Player.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 40
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Player.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 133
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 10
add
push constant 5
sub
push this 0
push constant 40
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 6
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 40
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.moveDown 0
push argument 0
pop pointer 0
push this 1
push constant 10
add
push constant 220
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 40
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 6
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 10
add
push constant 5
sub
push this 0
push constant 40
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.bomb 2
push argument 0
pop pointer 0
push constant 180
push constant 127
push constant 128
push this 1
sub
call Math.abs 1
sub
call Math.min 2
push constant 255
push constant 256
push this 0
sub
call Math.abs 1
sub
call Math.min 2
pop local 1
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push constant 5
call Sys.wait 1
pop temp 0
push this 0
push this 1
push local 0
call Screen.drawCircle 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 5
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 40
add
push constant 5
sub
push this 1
push this 0
push constant 40
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 6
sub
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 40
add
push constant 505
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 6
add
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 40
add
push constant 5
sub
push this 1
push this 0
push constant 40
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
